body{

           background-image:radial-gradient(white, lightblue,lightblue);
           background-repeat: no-repeat;
           border:1px solid black;
           border-radius: 5px;
}

.head1{


    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 7px gray;
    text-align:center;
    text-decoration:underline;
    font-size:20px;
    border:1px solid black;
    color:black;
    background-color: yellowgreen;
    padding:10px;
}

div{

    width:80px;
    height:80px;
    box-shadow: 0 4px 7px 0 gray;
    border:1px solid black;
    padding:5px;
    margin:10px;
    border-radius: 10px;

}

.voilet{

     background-color: violet;
}
.red{

       background-color: red;
}
.green{
         background-color: green;
}
.blue{
         background-color: blue;
}
.pink{
         background-color: pink;
}
.yellow{
             background-color: yellow;
}
.black{
         background-color: black;
}
     